<a href="https://colab.research.google.com/github/jooeun921/Big-Data-Analyst/blob/main/Part01_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 01. Python 기초와 데이터 구조

In [ ]:
city_name = "세종"
age = 23
is_student = True

print(city_name)
print(age)
print(is_student)

#### 변수명 사용 가능
user_name = 1
totalPrice = 2
number_2 = True


#### 변수명 불가능. 숫자로 시작, 예약어
3value
if

In [ ]:
x = 12
y = 4

print((x-y) * y / x)
print(x ** y // x)
print((x % y) + 2)

In [ ]:
price = 12000
quantity = 3
total_price = price * quantity
print(total_price >= 10000 and total_price <= 50000)

In [ ]:
a_list = [1, 2, 3, 4, 5]
b_list = [3]

# a_plus = sorted(a_list, reverse = True)
a_list.sort(key = lambda x : x % 2 == 0, reverse = True)
a_plus = sorted([x for x in a_list if x % 2 == 0], reverse = False)
print(a_plus)

In [ ]:
dict_a = {'a': 1, 'b': 2, 'c': 3}
list_b = ['d', 'e', 'f']
dict_b = {key : '1'+key for key in list_b}
print(dict_a)
print(dict_b)

In [ ]:
dict_a.get('d', 2)

In [ ]:
a_set = {10, 20, 30}
b_set = {30, 40, 50}

a_set.update(b_set)
# 겹치는 요소가 있으면 False
a_set.isdisjoint(b_set)
# 하위집합이면 True
a_set.issubset(b_set)
# 상위집합이면 True
a_set.issuperset(b_set)

In [ ]:
nums = [5, 10, 10, 15]

tup_nums = tuple(nums)
set_nums = set(tup_nums)
print(len(set_nums))

In [ ]:
profile = {
    "name" : "Jane",
    "age" : 27,
    "city" : "Busan"
}

profile["age"] = 28
# profile.pop("city")
del profile["city"]

print(profile)

In [ ]:
set_x = {1, 2, 3, 4}
set_y = {3, 4, 5, 6}

print(set_x.union(set_y))
print(set_x.intersection(set_y))
print(set_x.difference(set_y))

In [ ]:
sentence = "Python Is FUN"
# result = sentence[:6].upper() + sentence[6:].lower()
result = sentence.lower().replace("python", "PYTHON")
print(result)

In [ ]:
import numpy as np

array_a = np.array([1, 2, 3])
print(array_a)
array_b = np.arange(1, 10, 2)
print(array_b)
array_c = np.linspace(1, 10, 9, endpoint= False)
print(array_c)

In [ ]:
print(np.linspace.__doc__)
# help(np.linspace)

In [ ]:
print(np.eye.__doc__)

In [ ]:
np.random.seed(42)
a = np.random.randint(1, 21, 10)

print(a)
print(a[2:5])
print(a[[1, 2, 3]])
print(type(a))
print(a[1])
print(a[[1]])

print(a[a % 2 == 0])

In [ ]:
a = np.array([1, 2, 3, 4, 5])
a_new = a+5
print(a_new)

In [ ]:
a = np.array([12, 21, 35, 48, 5])
a_new = a[::2]
print(a_new)

In [ ]:
a = np.array([1, 22, 93, 64, 54])
print(a.max())
print(np.max(a))

In [ ]:
a = np.array([1, 2, 3, 2, 4, 5, 4, 6])
a_new = np.unique(a)
print(a_new)

In [ ]:
a = np.array([21, 31, 58])
b = np.array([24, 44, 67])

new_ab = np.stack((a, b), axis=-1)
# new_ab = np.reshape(new_ab, -1)
new_ab = new_ab.flatten()
print(new_ab)

c = np.empty(a.size + b.size, dtype = a.dtype)
c[0::2] = a
c[1::2] = b
print(c)

In [ ]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([6, 7, 8, 9])

print(a[:-1] + b)

In [ ]:
# 이거 이제 잘 안씀. matrix. 행렬. 곱셈할 때도 array 곱셈은 각각의 원소별이면, matrix은 행렬곱임.
A = np.matrix([[3, 5, 7], [2, 3, 6]])
A_p = np.array([3, 5, 7, 2, 3, 6]).reshape(2, 3)
print(A)
print(A_p)

In [ ]:
B = np.array([
    [8, 10, 7, 8],
     [2, 4, 5, 5],
      [7, 6, 1, 7],
       [2, 6, 8, 6],
        [9, 3, 4, 2]
    ])

B_new = B[[1, 3, 4]]
B_new_p = B[:, [0, 1]]
print(B_new)
print(B_new_p)

In [ ]:
B_3 = B[B[:, 2] > 3, :] # 모든 행에서, 2번 열(3번째 열)의 값이 3보다 큰 경우 = True 면 그때의 행값 전체를 가져옴.
print(B_3)

In [ ]:
row_sums = np.sum(B, axis=1)

B_4 = B[ np.sum(B, axis=1) >= 20, :]
# B_4 = B[ row_sums >= 20, :]
print(B_4)

In [ ]:
result = np.where(np.mean(B, axis=0) >= 5)[0]
print(result)

In [ ]:
# print(B >= 5)
# print(np.sum(B >= 5))

# np.sum에서 axis = 1은 행기준. axis = 0은 열기준으로 합을 구함.
# B > 7 는 개별. 이때, 7보다 큰 수들은 True = 1로 계산됨.


B[np.sum(B > 7, axis = 1) > 0]

In [ ]:
def multiply_by_ten(x=7):
    return x * 10

print(multiply_by_ten() + multiply_by_ten(5))

In [ ]:
def classify_number(x):
    if x >= 100:
        result = "Very Large"
    elif x < 100 and x >= 10:
        result = "Large"
    elif x >= 0 and x < 10:
        result = "Small"
    elif x < 0:
        result = "Negative"
    return result

print(classify_number(120))
print(classify_number(50))
print(classify_number(5))
print(classify_number(-7))

In [ ]:
counter = 0

def increase_counter():
    global counter
    counter += 1
    return counter

print(increase_counter())
print(increase_counter())
print(increase_counter())

In [ ]:
def count_even_numbers():
    count = 0
    for i in range(1, 11):
        if i % 2 == 0:
            count += 1
    return count

count_even_numbers()

In [ ]:
def sum_until_limit(x):
    result = 0
    while True:
        result += x
        if result >= 20:
            break
        x += 2
    return result

sum_until_limit(1)